<h3> Get to Know a numpy Array </h3>

You will use the dataframe <code>df</code> for the following:

In [1]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

1) plot the first three rows:

In [2]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

2) obtain column  <code> 'a' </code>

In [17]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

3) Obtain specific value based on <b>label</b>

In [18]:
df.loc[2,'a']

31

4) Obtain specific value based on <b>index</b>

In [21]:
df.iloc[2,0]

31

5) use loc or iloc for slicing

In [31]:
newdf = df.iloc[0:2, 0:3]
newdf

    a   b
0  11  21
1  21  22

Get to Know a Pandas Array 
You will use the dataframe df for the following:

In [32]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

1) find the unique values in column  'a' :

In [33]:
df['a'].unique()

array([1, 2], dtype=int64)

2) return a dataframe with only the rows where column  a  is less than two

In [37]:
df2 = df[df['a']<2]
df2

   a  b
0  1  1
2  1  1

<hr>
<small>Copyright &copy; 2018 IBM Cognitive Class. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).</small>