<a href="https://www.bigdatauniversity.com"><img src="https://ibm.box.com/shared/static/cw2c7r3o20w9zn8gkecaeyjhgw3xdgbj.png" width="400" align="center"></a>

<h1 align="center"><font size="5">COLLABORATIVE FILTERING</font></h1>

Recommendation systems are a collection of algorithms used to recommend items to users based on information taken from the user. These systems have become ubiquitous can be commonly seen in online stores, movies databases and job finders. In this notebook, we will explore recommendation systems based on Collaborative Filtering and implement simple version of one using Python and the Pandas library.

<h1>Table of contents</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#ref1">Acquiring the Data</a></li>
        <li><a href="#ref2">Preprocessing</a></li>
        <li><a href="#ref3">Collaborative Filtering</a></li>
    </ol>
</div>
<br>
<hr>



<a id="ref1"></a>
# Acquiring the Data

To acquire and extract the data, simply run the following Bash scripts:  
Dataset acquired from [GroupLens](http://grouplens.org/datasets/movielens/). Lets download the dataset. To download the data, we will use **`!wget`** to download it from IBM Object Storage.  
__Did you know?__ When it comes to Machine Learning, you will likely be working with large datasets. As a business, where can you host your data? IBM is offering a unique opportunity for businesses, with 10 Tb of IBM Cloud Object Storage: [Sign up now for free](http://cocl.us/ML0101EN-IBM-Offer-CC)

In [1]:
#!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
#print('unziping ...')
#!unzip -o -j moviedataset.zip

Now you're ready to start working with the data!

<hr>

<a id="ref2"></a>
# Preprocessing

First, let's get all of the imports out of the way:

In [2]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Now let's read each file into their Dataframes:

In [3]:
#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv('movies.csv')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv('ratings.csv')

Let's also take a peek at how each of them are organized:

In [4]:
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

So each movie has a unique ID, a title with its release year along with it (Which may contain unicode characters) and several different genres in the same field. Let's remove the year from the title column and place it into its own one by using the handy [extract](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.extract.html#pandas.Series.str.extract) function that Pandas has.

Let's remove the year from the __title__ column by using pandas' replace function and store in a new __year__ column.

In [5]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

Let's look at the result!

In [6]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

With that, let's also drop the genres column since we won't need it for this particular recommendation system.

In [7]:
#Dropping the genres column
movies_df = movies_df.drop('genres', 1)

Here's the final movies dataframe:

In [56]:
movies_df.head()
ratings_df.shape

(22884377, 3)

<br>

Next, let's look at the ratings dataframe.

In [9]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

Every row in the ratings dataframe has a user id associated with at least one movie, a rating and a timestamp showing when they reviewed it. We won't be needing the timestamp column, so let's drop it to save on memory.

In [10]:
#Drop removes a specified row or column from a dataframe
ratings_df = ratings_df.drop('timestamp', 1)

Here's how the final ratings Dataframe looks like:

In [11]:
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

<hr>

<a id="ref3"></a>
# Collaborative Filtering

Now, time to start our work on recommendation systems. 

The first technique we're going to take a look at is called __Collaborative Filtering__, which is also known as __User-User Filtering__. As hinted by its alternate name, this technique uses other users to recommend items to the input user. It attempts to find users that have similar preferences and opinions as the input and then recommends items that they have liked to the input. There are several methods of finding similar users (Even some making use of Machine Learning), and the one we will be using here is going to be based on the __Pearson Correlation Function__.

The process for creating a User Based recommendation system is as follows:
- Select a user with the movies the user has watched
- Based on his rating to movies, find the top X neighbours 
- Get the watched movie record of the user for each neighbour.
- Calculate a similarity score using some formula
- Recommend the items with the highest score


Let's begin by creating an input user to recommend movies to:

Notice: To add more movies, simply increase the amount of elements in the userInput. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [68]:
userInput = [
            {'title':'Inception', 'rating':5},
            {'title':'Taxi Driver', 'rating':4},
            {'title':"Shining, The", 'rating':5},
            {'title':'Clockwork Orange', 'rating':3},
            {'title':"One Flew Over the Cuckoo's Nest", 'rating':5},
            {'title':'Silence of the Lambs, The', 'rating':5},
            {'title':'Pulp Fiction', 'rating':4},
            {'title':'Titanic', 'rating':4}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                             title  rating
0                        Inception       5
1                      Taxi Driver       4
2                     Shining, The       5
3                 Clockwork Orange       3
4  One Flew Over the Cuckoo's Nest       5
5        Silence of the Lambs, The       5
6                     Pulp Fiction       4
7                          Titanic       4

#### Add movieId to input user
With the input complete, let's extract the input movies's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movies' title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [69]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

   movieId                            title  rating
0      111                      Taxi Driver       4
1      296                     Pulp Fiction       4
2      593        Silence of the Lambs, The       5
3     1193  One Flew Over the Cuckoo's Nest       5
4     1258                     Shining, The       5
5     1721                          Titanic       4
6     3404                          Titanic       4
7   118916                          Titanic       4
8    79132                        Inception       5

#### The users who has seen the same movies
Now with the movie ID's in our input, we can now get the subset of users that have watched and reviewed the movies in our input.

In [70]:
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
19        4      296     4.0
35        4      593     3.0
61        4     1258     4.0
199       5    79132     3.0
251       7    79132     5.0

We now group up the rows by user ID.

In [71]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['userId'])

lets look at one of the users, e.g. the one with userID=1130

In [72]:
userSubsetGroup.get_group(1130)

        userId  movieId  rating
104189    1130      111     4.5
104214    1130      296     4.0
104259    1130      593     3.0
104329    1130     1193     4.5
104355    1130     1258     5.0
105069    1130    79132     2.5

Let's also sort these groups so the users that share the most movies in common with the input have higher priority. This provides a richer recommendation since we won't go through every single user.

In [73]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

Now lets look at the first user

In [74]:
userSubsetGroup[0:3]

[(1204,
          userId  movieId  rating
  110855    1204      111     3.5
  110897    1204      296     4.5
  110971    1204      593     4.5
  111071    1204     1193     4.0
  111098    1204     1258     4.0
  111203    1204     1721     3.5
  111526    1204     3404     3.5
  112087    1204    79132     4.0),
 (2452,
          userId  movieId  rating
  224166    2452      111     4.0
  224185    2452      296     5.0
  224218    2452      593     5.0
  224258    2452     1193     5.0
  224274    2452     1258     5.0
  224311    2452     1721     3.5
  224974    2452    79132     5.0
  225163    2452   118916     1.5),
 (38184,
           userId  movieId  rating
  3528829   38184      111     4.0
  3528844   38184      296     5.0
  3528878   38184      593     4.0
  3528939   38184     1193     5.0
  3528968   38184     1258     3.5
  3529027   38184     1721     3.0
  3529165   38184     3404     4.0
  3529521   38184    79132     4.0)]

#### Similarity of users to input user
Next, we are going to compare all users (not really all !!!) to our specified user and find the one that is most similar.  
we're going to find out how similar each user is to the input through the __Pearson Correlation Coefficient__. It is used to measure the strength of a linear association between two variables. The formula for finding this coefficient between sets X and Y with N values can be seen in the image below. 

Why Pearson Correlation?

Pearson correlation is invariant to scaling, i.e. multiplying all elements by a nonzero constant or adding any constant to all elements. For example, if you have two vectors X and Y,then, pearson(X, Y) == pearson(X, 2 * Y + 3). This is a pretty important property in recommendation systems because for example two users might rate two series of items totally different in terms of absolute rates, but they would be similar users (i.e. with similar ideas) with similar rates in various scales .

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/bd1ccc2979b0fd1c1aec96e386f686ae874f9ec0 "Pearson Correlation")

The values given by the formula vary from r = -1 to r = 1, where 1 forms a direct correlation between the two entities (it means a perfect positive correlation) and -1 forms a perfect negative correlation. 

In our case, a 1 means that the two users have similar tastes while a -1 means the opposite.

We will select a subset of users to iterate through. This limit is imposed because we don't want to waste too much time going through every single user.

In [75]:
userSubsetGroup = userSubsetGroup[0:100]

Now, we calculate the Pearson Correlation between input user and subset group, and store it in a dictionary, where the key is the user Id and the value is the coefficient

In [76]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [77]:
pearsonCorrelationDict.items()

dict_items([(1204, 0.48038446141526137), (2452, 0.6396021490668313), (38184, 0.09853292781642932), (42196, 0.3779644730092272), (43514, -0.14586499149789456), (46750, -0.14586499149789456), (53910, 0.9518172686249524), (56842, 0.14586499149789456), (59887, 0.13483997249264842), (61084, -0.34099716973523675), (72744, 0.35355339059327373), (74551, 0.4583492485141057), (75664, 0.2886751345948129), (81016, 0.11867816581938533), (93909, 0.0), (94166, 0.29559878344928797), (97917, 0.1336306209562122), (98870, 0.19245008972987526), (105784, 0.6897304947150052), (117248, 0.30779350562554625), (118830, -0.4190790380624747), (120304, -0.5240002587656238), (145136, 0.41702882811414954), (150441, 0.48038446141526137), (150518, 0.7293249574894728), (150926, 0.711530850088466), (166029, 0.30151134457776363), (180951, 0.30499714066520933), (185430, 0.13483997249264842), (194828, 0.2750095491084634), (196426, 0.5388159060803247), (196621, 0.3494816226644152), (198947, 0.3380617018914066), (200452, -0.1259881576697424), (202661, 0.20412414523193154), (207792, 0.1125087900926024), (215271, 0.565685424949238), (220049, 0.2750095491084634), (220570, 0.517454889668201), (220750, 0.5805577953661855), (222456, 0.2750095491084634), (230236, 0.2750095491084634), (235888, 0.75), (240856, 0.09853292781642932), (106, -0.32025630761017204), (178, 0.31180478223116104), (447, 0.4448782605013048), (598, -0.5601120336112004), (707, 0.14664711502135627), (815, -0.5728219618694786), (881, 0.3535533905932705), (1040, 0.25103950552320264), (1352, 0.4327423224079106), (1621, 0.5445811486371736), (1667, 0.5752237416355255), (1669, 0.09128709291752436), (1675, 0.2842676218074857), (1824, 0.0216371161203951), (2108, 0.21320071635560367), (2174, 0.6651330399133049), (2404, 0.28306925853615333), (2484, -0.2203706386767633), (2569, 0.0), (2596, 0.2581988897471517), (2655, -0.21044527017740716), (2697, 0.21320071635560367), (2711, 0.6004805767690746), (2726, 0.5601120336112004), (2791, 0.0912870929175248), (2871, 0.24771684715342893), (2964, 0.11322770341445595), (3052, 0.45226701686664644), (3130, -0.052564641691397976), (3186, 0.23159177829329408), (3403, 0.42674296374932486), (3596, -0.2923217018990054), (3734, 0.267516140627407), (3923, 0.4166666666666694), (4011, 0.05892556509887701), (4105, 0.23819653367016982), (4208, -0.12286829679574869), (4280, -0.7637626158259716), (4415, 0.12707606131310253), (4588, 0.3818813079129858), (4657, 0.4714045207910288), (4818, 0.1206776980063657), (4847, 0.24870800168690427), (4885, 0.0700140042013983), (4904, 0.4950737714883399), (5045, 0.5597928684393475), (5104, -0.5477225575051697), (5133, 0.11202767873705632), (5159, 0.2581988897471658), (5336, 0.2700308624336602), (5493, 0.45833333333333565), (5532, 0.3555500774928594), (5576, -0.11322770341445683), (5735, 0.5172935265326585), (6199, 0.6285393610547049), (6237, 0.48850421045919606)])

In [78]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.480384    1204
1         0.639602    2452
2         0.098533   38184
3         0.377964   42196
4        -0.145865   43514

#### The top x similar users to input user
Now let's get the top 50 users that are most similar to the input.

In [79]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
6          0.951817   53910
42         0.750000  235888
24         0.729325  150518
25         0.711531  150926
18         0.689730  105784

Now, let's start recommending movies to the input user.

#### Rating of selected users to all movies
We're going to do this by taking the weighted average of the ratings of the movies using the Pearson Correlation as the weight. But to do this, we first need to get the movies watched by the users in our __pearsonDF__ from the ratings dataframe and then store their correlation in a new column called _similarityIndex". This is achieved below by merging of these two tables.

In [80]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0         0.951817   53910        2     2.0
1         0.951817   53910        4     2.0
2         0.951817   53910        5     2.0
3         0.951817   53910        6     3.0
4         0.951817   53910        7     2.0

Now all we need to do is simply multiply the movie rating by its weight (The similarity index), then sum up the new ratings and divide it by the sum of the weights.

We can easily do this by simply multiplying two columns, then grouping up the dataframe by movieId and then dividing two columns:

It shows the idea of all similar users to candidate movies for the input user:

In [81]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0         0.951817   53910        2     2.0        1.903635
1         0.951817   53910        4     2.0        1.903635
2         0.951817   53910        5     2.0        1.903635
3         0.951817   53910        6     3.0        2.855452
4         0.951817   53910        7     2.0        1.903635

In [82]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  17.098984           63.706201
2                  13.970921           38.965558
3                   5.987301           15.728311
4                   2.679904            6.284679
5                   6.695054           14.780038

In [83]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.725730        1
2                                     2.789047        2
3                                     2.626945        3
4                                     2.345114        4
5                                     2.207606        5

Now let's sort it and see the top 20 movies that the algorithm recommended!

In [84]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
32460                                      5.0    32460
32653                                      5.0    32653
136247                                     5.0   136247
48883                                      5.0    48883
136343                                     5.0   136343
136341                                     5.0   136341
136339                                     5.0   136339
57502                                      5.0    57502
70465                                      5.0    70465
136337                                     5.0   136337

In [85]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

       movieId                                         title  year
9919     32460                     Knockin' on Heaven's Door  1997
9959     32653                             This Land Is Mine  1943
11424    48883                          Death of a President  2006
12408    57502                        Cat Soup (Nekojiru-so)  2001
14057    70465  Jerusalema (Gangster's Paradise: Jerusalema)  2008
29929   136247                   Scooby-Doo on Zombie Island  1998
29951   136337                Scooby-Doo and the Cyber Chase  2001
29952   136339              Scooby-Doo! in Where's My Mummy?  2005
29953   136341             Scooby-Doo! and the Samurai Sword  2009
29954   136343     Scooby-Doo! And the Legend of the Vampire  2003

### Advantages and Disadvantages of Collaborative Filtering

##### Advantages
* Takes other user's ratings into consideration
* Doesn't need to study or extract information from the recommended item
* Adapts to the user's interests which might change over time

##### Disadvantages
* Approximation function can be slow
* There might be a low of amount of users to approximate
* Privacy issues when trying to learn the user's preferences

<h2>Want to learn more?</h2>

IBM SPSS Modeler is a comprehensive analytics platform that has many machine learning algorithms. It has been designed to bring predictive intelligence to decisions made by individuals, by groups, by systems – by your enterprise as a whole. A free trial is available through this course, available here: <a href="http://cocl.us/ML0101EN-SPSSModeler">SPSS Modeler</a>

Also, you can use Watson Studio to run these notebooks faster with bigger datasets. Watson Studio is IBM's leading cloud solution for data scientists, built by data scientists. With Jupyter notebooks, RStudio, Apache Spark and popular libraries pre-packaged in the cloud, Watson Studio enables data scientists to collaborate on their projects without having to install anything. Join the fast-growing community of Watson Studio users today with a free account at <a href="https://cocl.us/ML0101EN_DSX">Watson Studio</a>

<h3>Thanks for completing this lesson!</h3>

<h4>Author:  <a href="https://ca.linkedin.com/in/saeedaghabozorgi">Saeed Aghabozorgi</a></h4>
<p><a href="https://ca.linkedin.com/in/saeedaghabozorgi">Saeed Aghabozorgi</a>, PhD is a Data Scientist in IBM with a track record of developing enterprise level applications that substantially increases clients’ ability to turn data into actionable knowledge. He is a researcher in data mining field and expert in developing advanced analytic methods like machine learning and statistical modelling on large datasets.</p>

<hr>

<p>Copyright &copy; 2018 <a href="https://cocl.us/DX0108EN_CC">Cognitive Class</a>. This notebook and its source code are released under the terms of the <a href="https://bigdatauniversity.com/mit-license/">MIT License</a>.</p>